@model VM.DataAccessLayer.EDM.ModuleProjectAssociation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CoreAdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ModuleProjectAssociation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TurnOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleTable.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleTable.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectTable.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTable.ProjectName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
