@model VM.DataAccessLayer.EDM.ProjectTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CoreAdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProjectTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Removed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Removed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableModulesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableModulesId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileRepositoryTable.FileRepoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileRepositoryTable.FileRepoName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
