@model VM.DataAccessLayer.EDM.FileTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CoreAdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FileTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathToFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathToFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFolder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
